/* @import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 400;
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  /* font-weight:  900; */
  font-display: swap;
  src: url("/font-files/InterVariable-Italic.woff2") format("woff2");
}

.font-display {
  font-family: InterVariable;
}

.emphasis {
  font-style: italic;
}
