@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 400;
}

@font-face {
  font-family: 'InterVariable';
  font-style: normal;
  font-weight: 400;
  src: url("/font-files/InterVariable-Italic.woff2") format("woff2");
}

.font-display {
  font-family: 'InterVariable', sans-serif;
}

.emphasis {
  font-style: italic;
}

.lock-scroll {
  overflow: hidden;
}